/*  EMBEDDED FONTS */
@charset "UTF-8";

/* Alternate font for CWIF livestream
@font-face {
  font-family : 'AzoRegular';
  font-style  : normal;
  src: local('?'), url('./Rui Abreu - AzoSans-Light.otf');
}
*/

/* General styles */
html, body {
  margin      : 0;
  padding     : 0;
  width       : 100%;

  background-color: #000;
}

#inner {
  font-family : Arial, sans-serif;
  color       : white;
  text-align  : center;
  cursor      : none;
}

#cntrl {
  font-family : Arial, sans-serif;
  color       : #444444;
  height      : 24px;
}

/* Media query for CWIF livestream
@media (max-width: 768px) {
  html, body {
    background-color: #aed845;
  }
  
  #inner {
    font-family : AzoRegular, sans-serif;    
  }
}
*/
