/*  EMBEDDED FONTS */
@charset "UTF-8";

/* Alternate font for CWIF livestream
@font-face {
  font-family : 'AzoRegular';
  font-style  : normal;
  src: local('?'), url('./Rui Abreu - AzoSans-Light.otf');
}
*/

/* General styles */
html, body {
  margin      : 0;
  padding     : 0;
  width       : 100%;

  background-color: #000;
  cursor      : none;
}
#inner {
  font-family : Arial, sans-serif;
  color       : white;
  text-align  : center;
}

/* Media query for CWIF livestream
@media (max-width: 768px) {
  html, body {
    background-color: #aed845;
  }
  
  #inner {
    font-family : AzoRegular, sans-serif;    
  }
}
*/
